.bg-black-p{
  background-color: $black_primary!important;
  color: $white_primary!important;
}

.bg-black-s{
  background-color: $black_secondary!important;
  color: $white_primary!important;
}

.bg-grey-p{
  background-color: $grey_primary!important;
  color: $white_primary!important;
}

.bg-grey-s{
  background-color: $grey_secondary!important;
  color: $white_primary!important;
}

.bg-white{
  background-color: $white_primary!important;
  color: $black_primary!important;
}

.bg-blue{
  background-color: $blue!important;
  color: $white_primary!important;
}

.bg-green{
  background-color: $green!important;
  color: $white_primary!important;
}

.bg-red{
  background-color: $red!important;
  color: $white_primary!important;
}