// Colors

.text-black-p{
  color: $black_primary!important;
}

.text-black-s{
  color: $black_secondary!important;
}

.text-grey-s{
  color: $grey_primary!important;
}

.text-grey-s{
  color: $grey_secondary!important;
}

.text-white{
  color: $white_primary!important;
}

.text-blue{
  color: $blue!important;
}

.text-green{
  color: $green!important;
}

.text-red{
  color: $red!important;
}


// Text Display

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}