// margin Vertical/Horizontal

.m-0 {
  margin: 0 !important;
}

.m-0_5 {
  margin: .5em !important;
}

.m-1_5 {
  margin: 1.5em !important;
}

.m-2 {
  margin: 2em !important;
}

.m-2_5 {
  margin: 2.5em !important;
}


// margin Horizontal

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-0_5 {
  margin-left: .5em !important;
  margin-right: .5em !important;
}

.mx-1 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.mx-1_5 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}

.mx-2 {
  margin-left: 2em !important;
  margin-right: 2em !important;
}

.mx-2_5 {
  margin-left: 2.5em !important;
  margin-right: 2.5em !important;
}


// margin Vertical

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-0_5 {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}

.my-1 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}


.my-1_5 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}

.my-2 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.my-2_5 {
  margin-top: 2.5em !important;
  margin-bottom: 2.5em !important;
}


// margin Left

.ml-0 {
  margin-left: 0 !important;
}

.ml-0_5 {
  margin-left: .5em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.ml-1_5 {
  margin-left: 1.5em !important;
}

.ml-2 {
  margin-left: 2em !important;
}

.ml-2_5 {
  margin-left: 2.5em !important;
}


// margin Right

.mr-0 {
  margin-right: 0 !important;
}

.mr-0_5 {
  margin-right: .5em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

.mr-1_5 {
  margin-right: 1.5em !important;
}

.mr-2 {
  margin-right: 2em !important;
}

.mr-2_5 {
  margin-right: 2.5em !important;
}


// margin Top

.mt-0 {
  margin-top: 0 !important;
}

.mt-0_5 {
  margin-top: .5em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-1_5 {
  margin-top: 1.5em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mt-2_5 {
  margin-top: 2.5em !important;
}


// margin Bottom

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-0_5 {
  margin-bottom: .5em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-1_5 {
  margin-bottom: 1.5em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mb-2_5 {
  margin-bottom: 2.5em !important;
}