#header{

  .header-top{
    position: relative;
    box-shadow: 0 3px 10px -5px #aeaeae;
    height: 74px;
  }

  .header-bottom{
    border-bottom: 1px solid #dedede;

    input{
      border-radius: 2em;
    }

  }
  
}