$white_primary: #FFFFFF;
$white_secondary: #F5F8FA;
$grey_primary: #F5F8FA;
$grey_secondary: #DCE3E7;
$black_primary: #0e0e0e;
$black_secondary: #2e2e2e;
$blue: #00B5FF;
$green: #5EDC6B;
$red: #FF4C4A;